@media (max-width: 1439px) {
    .container {
        max-width: 1140px;
    }
    .sidepanel, .sidepanel_black {
        position: absolute;
        left: -100%;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .aboutme {
        grid-template-columns: 400px 460px;
        column-gap: 50px;
        &__skills {
            column-gap: 15px;
            grid-template-columns: repeat(2, 235px);
        }
    }
    .resume {
        &__wrapper {
            column-gap: 60px;
            grid-template-columns: repeat(2, 380px);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 270px);
            grid-auto-rows: 270px;
            gap: 40px;
        }
    }
    .percent__wrapper {
        grid-template-columns: repeat(2, 350px);
        grid-auto-rows: 70px;
        column-gap: 150px;
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: space-around;
            row-gap: 20px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
        .design {
            grid-template-columns: repeat(auto-fit, 450px);
            justify-content: space-around;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fs36_black {
            font-size: 30px;
        }
    }
    .aboutme {
        grid-template-columns: 300px 325px;
        column-gap: 40px;
        &__skills {
            column-gap: 15px;
            grid-template-columns: repeat(1, 250px);
        }
    }
    .resume {
        &__wrapper {
            column-gap: 60px;
            grid-template-columns: repeat(2, 300px);
        }
        &__item{
            &-body {
                padding-left: 101px;
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(2, 270px);
            grid-auto-rows: 270px;
            gap: 60px;
            column-gap: 128px;
        }
    }
    .percent__wrapper {
        grid-template-columns: repeat(2, 300px);
        grid-auto-rows: 70px;
        column-gap: 80px;
    }
    .portfolio {
        .title__subtitle {
            text-align: center;
            margin-bottom: 20px;
        }
        .design {
            grid-template-columns: repeat(auto-fit, 350px);
            justify-content: space-around;
        }
        .photo, .oksana {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .price {
        &__column {
            grid-template-rows: repeat(1, 44px);
        }
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 367px);
            grid-template-rows: minmax(44px, auto);
            justify-content: space-around;
            row-gap: 20px;
        }
    }
    
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fs48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .hamburger__black, .hamburger {
        position: absolute;
    }
    .aboutme {
        margin-top: 80px;
        #am_descr {
            grid-column: auto;
            grid-row: auto;
        }
        #am_skills{
            grid-column: auto;
            grid-row: auto;
            grid-template-rows: repeat(1, 140px);
            margin-left: 20px;
        }
        #am_img {
            display: none;
        }
        grid-template-columns: 540px;
        grid-template-rows: 250px auto;
        grid-auto-rows: 400px;
        grid-auto-flow: row;
        &__skills {
            grid-template-columns: repeat(2, 250px);
        }
    }
    .resume {
        &__wrapper {
            column-gap: 20px;
            grid-template-columns: repeat(1, 330px);
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 238px);
            justify-content: space-around;
            grid-auto-rows: 270px;
            gap: 40px;
        }
    }
    .percent__wrapper {
        grid-template-columns: repeat(auto-fit, 350px);
        justify-content: space-around;
        grid-auto-rows: 70px;
        column-gap: 150px;
    }
}

@media (max-width: 575px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fs48 {
            font-size: 26px;
        }
        &_fs36_black {
            font-size: 24px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url(../img/main_bg.jpg) no-repeat 63%/cover;
        &__btns {
            margin-top: 35px;
        }
    }
    .aboutme {
        grid-template-columns: 100%;
        grid-template-rows: 340px auto;
        row-gap: 5px;
        &__skills {
            width: 240px;
            grid-template-columns: 100%;
            grid-template-rows: repeat(2, 116px);
            &-item {
                justify-content: space-around;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 65px 0 0 20px ;
            column-gap: 20px;
            grid-template-columns: repeat(1, 275px);
        }
        &__item{
            &-body {
                padding-left: 50px;
            }
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(1, 270px);
            grid-auto-rows: 270px;
            gap: 40px;
            padding-left: 40px;
        }
    }
    .percent__wrapper {
        grid-template-columns: repeat(1, 350px);
        grid-auto-rows: 70px;
        column-gap: 150px;
    }
    .scrollup {
        right: 10px;
        bottom: 10px;

    }
}