@mixin before_circle {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        z-index: -1;
        left: 0;
        top: -25%;
        background: $main_color;
        opacity: 0.8;
    }
}

@mixin before_circle_change {
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        z-index: -1;
        left: -77%;
        top: -71%;
        background: $main_color;
        opacity: 0.8;
    }
}